<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About New</title>
    
</head>

<body>

    <section>
        <h1>new about section</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi fuga aliquam temporibus quos quidem recusandae quas? Quaerat minima velit veniam eaque voluptate, veritatis, quas id, enim ipsa magnam obcaecati modi!</p>
    </section>


</body>

</html>